<main class="main">
  <div class="content">
    <h1>CRUD PYTHON SQLITE</h1>

    <h4>CRUD operations with Python and SQLite</h4>

    <ul class="main-menu">
      <li id="create" (click)="openMenu('option1')">CREATE</li>
      <li id="list" (click)="openMenu('option2')">LIST</li>
      <li id="update" (click)="openMenu('option3')">UPDATE</li>
      <li id="delete" (click)="openMenu('option4')">DELETE</li>
    </ul>

    <app-main-menu-overlay 
    *ngIf="selectedItem" 
    [item]="selectedItem"
    (close)="closeMenu()">
    </app-main-menu-overlay>
  </div>
</main>

<router-outlet />

<style>
  .hide {
    display: none;
  }

  .main {
    width: 100%;
    height: 100%;
  }

  .content{
    height: 100%;
    width: 100%;
  }

  .main .content h4 {
    margin-top: 16px
  }

  ul.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 16px;
    
  }

  ul.main-menu li {
    color: white;
    padding: 16px 0;
    background-color: #395c35;
    width: 100%;
    text-align: center;
    transition: .1s ease-in-out;
  }

  li#create {
    background-color: #4caf50;
  }
  li#create:hover {
    background-color: #45a049;
  }

  li#list {
    background-color: #2196F3;
  }
  li#list:hover {
    background-color: #0b7dda;
  }


  li#update {
    background-color: #ff9800;
  }
  li#update:hover {
    background-color: #e68a00;
  }

  li#delete {
    background-color: #f44336;
  }
  li#delete:hover {
    background-color: #da190b;
  }
</style>