<div class="overlay" (click)="closeMenu()"></div>

<div class="menu-popup" (click)="$event.stopPropagation()">
    <button class="menu__close" (click)="closeMenu()">x</button>

    <ng-container [ngSwitch]="item">
        <form (ngSubmit)="addUser()" #userForm="ngForm" class="option__form" *ngSwitchCase="'option1'">
            <label for="option1">CREATE USER</label>
            <input [(ngModel)]="newUser.name" name="name" placeholder="User Name" required />
            <input [(ngModel)]="newUser.email" name="email" placeholder="Email" required />
            <input [(ngModel)]="newUser.password" name="password" type="password" placeholder="Password" required />
            <button id="create-id" type="submit">ADD NEW USER</button>
        </form>

        <div class="option__form get-users" *ngSwitchCase="'option2'">
            <ng-container *ngIf="users.length > 0; else empty">
                <ul>
                    <li *ngFor="let user of users">
                        <label class="get-users__id">User Id: {{ user.id}}</label>
                        <label>Nome: <strong>{{ user.name }}</strong></label>
                        <label>{{ user.email }}</label>
                        <button id="remove-id" (click)="deleteUser(user.id!)">Delete User</button>
                    </li>
                </ul>
            </ng-container>

            <ng-template [ngIf]="users.length === 0" #empty>
                <p>Nenhum usuário encontrado.</p>
            </ng-template>
        </div>

        <form class="option__form" (ngSubmit)="updateUserEmail()" #updateForm="ngForm" *ngSwitchCase="'option3'">
            <label for="option1">UPDATE</label>
            <input [(ngModel)]="updateId" name="id" placeholder="User ID" required type="number" />
            <input [(ngModel)]="updateEmailValue" name="new_email" placeholder="New Email" required />
            <button type="submit" id="update-id">Update</button>
        </form>

        <form class="option__form" *ngSwitchCase="'option4'" (ngSubmit)="deleteUserForm()" #updateForm="ngForm">
            <label>REMOVE USER</label>
            <input [(ngModel)]="deleteId" name="id" placeholder="User ID" required type="number" />
            <button id="remove-id" type="submit">Delete User</button>
        </form>
    </ng-container>

</div>

<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
    }

    .menu__close {
        position: absolute;
        color: #333;
        border: none;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: all 0.1s ease;
        right: 34px;
        top: 24px;
        background-color: transparent;
    }

    .menu-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 32px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
        z-index: 999;
        width: 100%;
        max-width: 400px;
    }

    .option__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .option__form label {
        font-weight: bold;
        font-size: 1.4rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #333;
        margin-bottom: 16px;
    }

    .option__form input {
        margin-bottom: 8px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        outline: none;
        font-size: 0.9rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .option__form button {
        width: 100%;
        padding: 8px 16px;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: all 0.1s ease;
        font-size: 0.9rem;
    }

    .get-users {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
        position: relative
    }

    .get-users__id {
        position: absolute;
        top: 8px;
        left: 16px;
    }

    .get-users label {
        font-weight: normal;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 4px 0;
    }

    .get-users button {
        max-width: 120px;
        margin-top: 8px;
    }

    .get-users ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .get-users li {
        color: #333;
        padding: 16px;
        background-color: #f1f1f1;
        width: 100%;
        text-align: center;
        transition: .1s ease-in-out;
        margin-bottom: 8px;
        cursor: pointer;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
    }

    .get-users li:hover {
        background-color: #e0e0e0;
    }

    #create-id {
        background-color: #4caf50;
    }

    #create-id:hover {
        background-color: #45a049;
    }

    #update-id {
        background-color: #ff9800;
    }

    #update-id:hover {
        background-color: #e68a00;
    }

    #remove-id {
        background-color: #dc3545;
    }

    #remove-id:hover {
        background-color: #c82333;
    }
</style>